body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://files.catbox.moe/artgfk.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.main-container {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  backdrop-filter: blur(10px);
  max-width: 400px;
  margin: 20px;
  overflow: hidden;
}

img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;

  
}

.elements-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.quote {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.contact-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.contact-images img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

.contact-images img:hover {
  transform: scale(1.1);
}